.env
venv/
env/
secret_key.txt
sec.py
pagekite.py
Procfile
.DS_Store
.env

**/.env
**/__pycache__
**/db.sqlite3
**/env
**/venv
**/migrations
**/staticfiles
**/static
**/media
**/mediafiles
**/mediafiles/*

**/.DS_Store/*
**/.DS_Store